In [1]:
%load_ext autoreload
%autoreload 2
from mesh_import import mesh

E:\LangOn\OntoDeepLex\src\mesh\cns.py:3: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  from tqdm.autonotebook import tqdm

In [2]:
import igraph as ig
from CwnGraph import CwnBase, CwnSense
from tqdm.autonotebook import tqdm
import numpy as np

In [3]:
cns_dir = mesh.get_data_dir() / "cns"

In [4]:
import pandas as pd

In [7]:
Ga_measures = pd.read_csv(cns_dir / "Ga_measures.csv", index_col=0)
Gc_measures = pd.read_csv(cns_dir / "Gc_measures.csv", index_col=0)

In [8]:
Ga_measures

          closenessA  betweenenssA  degreeA  transA  ncompoA
03000101    0.000035           0.0        0     NaN        1
03000102    0.000035           0.0        0     NaN        1
03000201    0.000035           0.0        0     NaN        1
03000202    0.000035           0.0        0     NaN        1
03000203    0.000035           0.0        0     NaN        1
...              ...           ...      ...     ...      ...
14609902    0.000035           0.0        0     NaN        1
14610001    0.000035           0.0        0     NaN        1
14610101    0.000035           0.0        0     NaN        1
14610201    0.000035           0.0        0     NaN        1
14610301    0.000035           0.0        0     NaN        1

[28827 rows x 5 columns]

## MELD_SCH

In [13]:
from CwnGraph import CwnBase, CwnLemma
from opencc import OpenCC
cc = OpenCC('s2t')
cwn = CwnBase()

In [14]:
# get lemmas with at least one sense
lemma_iter = filter(lambda x: x[1]['node_type']=='lemma', cwn.V.items())
lemma_iter = filter(lambda x: CwnLemma(x[0], cwn).senses, lemma_iter)
lemma_iter = map(lambda x: x[1].get("lemma"), lemma_iter)

cwn_lemmas = list(lemma_iter)
int_words = set(cwn_lemmas) & set(tw_words)

In [16]:
meld_sch=pd.read_excel(mesh.get_data_dir()/"ldt-data/Tsang-2018-MELD-SCH.xlsx")
cn_words = meld_sch.loc[meld_sch.lexicality==1,].word.tolist()
tw_words = [cc.convert(x) for x in cn_words]
meld_sch = meld_sch.assign(trad_word=lambda df: [cc.convert(x) for x in df.word])
meld_sch_words = pd.DataFrame(data={"word":list(int_words)})

In [20]:
meld_sch_frame = meld_sch_words.merge(meld_sch.loc[meld_sch.lexicality==1,:][["trad_word", "N", "RT", "RTSD", "ERR", "length"]], 
                                    left_on="word", right_on="trad_word").drop("trad_word", axis=1)

In [21]:
meld_sch_frame

     word   N          RT        RTSD        ERR  length
0      刑事  41  866.076098  288.892344   2.380952       2
1      相信  41  630.521463  248.570500   0.000000       2
2       畢  36  687.794167  246.051284  10.000000       1
3      露營  38  892.139211  380.022253   5.000000       2
4       章  40  798.423750  414.149775   0.000000       1
...   ...  ..         ...         ...        ...     ...
2929   這般  36  813.036389  210.408049  14.285714       2
2930    罹  30  910.002000  254.380231  25.000000       1
2931   兩極  41  733.215610  187.769816   2.380952       2
2932    瑜  37  869.822432  261.189630   9.756098       1
2933   沿岸  41  729.043902  207.505115   0.000000       2

[2934 rows x 6 columns]